@font-face {
	font-family: "Gilroy Light";
	font-style: normal;
	font-weight: 300;
	src:
		local("Gilroy Light"),
		url("../fonts/gilroylight.woff") format("woff"),
		url("../fonts/gilroylight.woff2") format("woff2");
}
@font-face {
	font-family: "Gilroy ExtraBold";
	font-style: normal;
	font-weight: 800;
	src:
		local("Gilroy ExtraBold"),
		url("../fonts/gilroyextrabold.woff") format("woff"),
		url("../fonts/gilroyextrabold.woff2") format("woff2");
}
@font-face {
	font-family: "Open Sans Light";
	font-style: normal;
	font-weight: 300;
	src:
		local("Open Sans Light"),
		url("../fonts/opensanslight.woff") format("woff"),
		url("../fonts/opensanslight.woff2") format("woff2")
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src:
		local("Open Sans"),
		url("../fonts/opensans.woff") format("woff"),
		url("../fonts/opensans.woff2") format("woff2");
}

body {
	margin: 0 auto;
	padding: 0;
	width: 1440px;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: #525252;

	background-color: #ffffff;
}

a {
	text-decoration: none;
	color: black;
}

ul {
	padding: 0px;
	margin: 0px;
}

h2,h3 {
	margin: 0;
}

p {
	margin: 0;
}

.main-header {
	
	width: 1160px;

	margin: 40px 140px;

	color: #ffffff;
	background-color: #f7e296;
	background-image: url("../img/pattern-light.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

.header-user-interface,
.site-navigation,
.site-navigation-catalog,
.footer-services-item,
.footer-user-interface,
.footer-social-button,
.navigation-catalog-container ul,
.navigation-services-container ul {
	list-style: none;
}

.header-user-interface a,
.site-navigation a,
.site-navigation-catalog a {
	color: #000000;
}

.header-container {
	position: relative;
	padding-top: 50px;
}

.main-header-logo {
	position: absolute;
	top: -20px;
	left: 40px;
}

.header-user-interface {
	display: flex;
	flex-direction: row;
	margin: 0 60px;
	padding: 0px;
	justify-content: space-between;
}

.header-user-interface li:nth-child(2) {
	margin-left: 360px;
}
.header-user-interface li:nth-child(3) {
	margin-left: 215px;
}
.header-user-interface li:nth-child(4) {
	margin-left: 60px;
	
}

.header-user-interface li {
	position: relative;
}

.header-user-interface li:nth-child(1) {
	padding-left: 35px;
}
.header-user-interface li:nth-child(1):before {
	content: "";
	width: 16px;
	height: 16px;
	position: absolute;
	left: 1px;
	top: 7px;
	background-image: url("../img/sprite/sprites-header.png");
}

.header-user-interface li input {
	border: none;
	background: none;
	outline: none;
	opacity: 0.5;
}

.header-user-interface li:nth-child(2):before {
	content: "";
	width: 16px;
	height: 16px;
	position: absolute;
	left: -25px;
	top: 7px;
	background-image: url("../img/sprite/sprites-header.png");
	background-position: 0 -16px;
}

.header-user-interface li:nth-child(3):before {
	content: "";
	width: 16px;
	height: 14px;
	position: absolute;
	left: -25px;
	top: 7px;
	background-image: url("../img/sprite/sprites-header.png");
	background-position: 0 -30px;
}

.header-user-interface li:nth-child(4):before {
	content: "";
	width: 16px;
	height: 15px;
	position: absolute;
	left: -25px;
	top: 7px;
	background-image: url("../img/sprite/sprites-header.png");
	background-position: 0 14px;
}

.main-navigation {
	width: 1160px;
	height: 90px;
}

.site-navigation,
.footer-services-item {
	text-transform: uppercase;

}

.site-navigation {
	display: flex;
	padding: 0px;
	margin-top: 30px;
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	font-weight: bold;
	letter-spacing: 2px;
}

.navigation-catalog-container {
	width: 545px;
	padding-left: 60px;
}

.site-navigation-catalog {
	position: relative;
}


.navigation-catalog-container .site-navigation-catalog ul {
	display: flex;
	width: 1100px;
	padding: 40px 0;
	padding-left: 60px;
	position: relative;
	left: -60px;
	background-image: url("../img/pattern-light.jpg");
	visibility: hidden;
}


.site-navigation-catalog a:hover+ul {
	position: absolute;
	visibility: visible;
}




.site-navigation-catalog ul li {
	padding: 0px;
	font-family: "Open Sans Light", Arial, sans-serif;
	font-size: 15px;
	line-height: 36px;
	color: #000000;
	text-transform: none;
}

.site-navigation-catalog .column:not(:first-child) {
	margin-left: 60px;
}

.navigation-services-container {
	width: 550px;
}

.navigation-services-container ul {
	display: flex;
	padding-left: 0px;
	padding-right: 60px;
}

.navigation-services-container ul li:nth-child(2) {
	margin-left: 50px;
}
.navigation-services-container ul li:last-child {
	margin-left: 130px;
}



.slider-item {
	display: flex;
	justify-content: space-around;
	width: 1160px;
	margin: 0 auto;
}

.slider-container-img {
	width: 600px;
	text-align: center;
}

.slider-container-info {
	width: 560px;
}
.container-info-first {
	padding-top: 60px;
}

.container-info-second {
	padding-top: 60px;
}

.container-info-third {
	padding-top: 15px;
}

.slider-container-info span {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 47px;
	line-height: 56px;
}

.slider-container-info p {
	margin-top: 20px;
	margin-bottom: 40px;
}

.slider-container-info a {
	position: relative;
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 4px;
	z-index: 1;
	padding-left: 45px;
}

.slider-container-info a:before {
	content: "";
	position: absolute;
	width: 220px;
	height: 7px;
	background-color: #f0c52e;
	top: 7px;
	left: 2px;
	z-index: -1;
}

.slider-container-info table {
	margin-top: 50px;
}

.slider-container-info table tr:first-child {
	font-family: "Gilroy Light", Arial, sans-serif;
	font-size: 36px;
}

.slider-container-info table tr:last-child {
	font-size: 13px;
}

.slider-container-info table td {
	padding-right: 70px;
	padding-bottom: 15px;
}

.item-list-container {
	width: 1160px;
	margin: 0 auto;
}

.item-list ul {
	display: flex;
	justify-content: space-around;
	padding-left: 0px;
}
.item-list ul li {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	list-style: none;
}

.item-list span {
	position: relative;
}

.item-list span:before {
	content: '';
	display: block;
	width: 160px;
	height: 160px;
	/*background-image: url(../img/sprite/sprites-item-list.png);*/
	background-color: #f7e296;
	margin-bottom: 40px;
}

.item-list span:after {
	content: '';
	display: block;
	position: absolute;
	background-image: url(../img/sprite/sprites-item-list.png);
}

.item-list li:nth-child(1) span:after {
	width: 97px;
	height: 90px;
	top: 25px;
	left: 30px;
}

.item-list li:nth-child(2) span:after {
	width: 95px;
	height: 117px;
	top: 40px;
	left: 30px;
	background-position: -97px 0;
}

.item-list li:nth-child(3) span:after {
	width: 75px;
	height: 105px;
	top: 25px;
	left: 45px;
	background-position: -190px 0;
}

.item-list li:nth-child(4) span:after {
	width: 115px;
	height: 90px;
	top: 25px;
	left: 23px; 
	background-position: -265px 0;
}

.item-list li:nth-child(5) span:after {
	width: 60px;
	height: 105px;
	top: 25px;
	left: 52px;
	background-position: -380px 0;
}

.item-list li:nth-child(6) span:after {
	width: 134px;
	height: 90px;
	top: 25px;
	left: 13px;
	background-position: -440px 0;
}


.services {
	background-color: #e5e5e5;
}

.services-container {
	margin: 120px auto 0;
	width: 1160px;
	display: flex;
}

.services-item {
	display: flex;
	margin-left: 45px;
}

.services-container-title {
	position: relative;
	margin: auto 0;
}

.services-container-title ul {
	padding: 19px;
}

.services-container-title ul li {
	position: relative;
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 4px;
	z-index: 1;
	list-style: none;
	text-align: center;
	margin-bottom: 50px;
}

.services-container-title ul li:before {
	content: "";
	position: absolute;
	width: 160px;
	height: 7px;
	background-color: #f0c52e;
	top: 12px;
	left: -19px;
	z-index: -1;
}

.services-container-title:after {
	content: '';
	position: absolute;
	width: 7px;
	height: 320px;
	background-color: #000000;
	top: -50px;
	left: 285px;
}

.services-container-info {
	width: 790px;
	margin-left: 190px;
}

.services-item-content h2 {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	color: #000000;
	font-size: 47px;
	line-height: 56px;
}

.services-item-content p {
	margin-top: 20px;
}

.services-item img {
	margin-left: 100px;
	margin-top: 20px;
}

.partner-container {
	margin: 0 auto;
	width: 1160px;
}

.partner ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.common-information {
	display: flex;
	margin: 0 140px;
	margin-bottom: 95px;
	justify-content: space-between;
}

.about-us, .contacts {
	width: 560px;
}

.about-us-title,
.contacts-title {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	color: #000000;

}

.about-us p,
.contacts p {
	font-family: "Open Sans Light", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: #848484;
}

.about-us-service {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	font-weight: bold;
	line-height: 30px;
	color: #000000;
	list-style-type:  none;
}

.about-us-service li:before {
	color: #e5e5e5;
	content: '○';
	font-weight: bold;
	padding-right: 20px;
}

.button {
	position: relative;
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	color: #000000;
	text-transform: uppercase;
	letter-spacing: 4px;
	border: none;
	background: none;
	z-index: 10;
}

.about-us-button {
	padding-left: 22px;
}

.contacts-info-button {
	padding-left: 40px;
}


.button a:after {
	content: "";
	position: absolute;
	width: 260px;
	height: 8px;
	background-color: #f0c52e;
	top: 8px;
	left: 2px;
	z-index: -1;
}

.about-us-button a,
.contacts-info-button a {
	color: #000000;
}

/*catalog css... */
.main-container-catalog {
	margin: 0 140px;
	width: 1160px;
}

.page-title {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 47px;
	padding-left: 60px;
	line-height: 48px;
	color: #000000;
}

.breadcrumbs {
	display: flex;
	list-style: none;
	padding-left: 60px;
}

.breadcrumbs li {
	position: relative;
	margin-right: 40px;
}

.breadcrumbs li:not(:last-child):after {
	content: '';
	width: 4px;
	height: 7px;
	position: absolute;
	top: 13px;
	background: url(../img/nav-arrow.png);
}

.breadcrumbs li:first-child:after {
	left: 75px;
}

.breadcrumbs li:nth-child(2):after {
	left: 135px;
}

.breadcrumbs a,
.breadcrumbs-current {
	font-family: "Open Sans Light", Arial, sans-serif;
	color: #b2b2b2;
}

.container-filters-catalog {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.catalog-list li:not(:nth-child(2n)) {
	margin-right: 40px;
}

.filters {
	width: 528px;
	background: url("../img/filters-layer.jpg") no-repeat #efefef;
}

.filters-container {
	padding-left: 60px;
}

.filters-title {
	display: inline-block;
	margin: 30px 0;
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.filter fieldset {
 	border: none;
}

.filter legend {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
 	font-size: 18px;
 	line-height: 24px;
}

.filter ul {
	list-style: none;
	line-height: 40px;
}

.filter-button {
	padding-left: 40px;
}

.filter-button:after {
	content: "";
	position: absolute;
	width: 200px;
	height: 8px;
	background-color: #f0c52e;
	top: 8px;
	left: 2px;
	z-index: -1;
}

.catalog {
	margin-left: 72px;
}

.catalog ul {
	display: flex;
	list-style: none;
}

.container-sort {
	display: flex;
	min-height: 70px;
}

.container-sort h2 {
	display: inline-block;
	margin: 30px 0;
	margin-right: 40px;
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.container-sort ul {
	margin: 30px 0;
}

.container-sort li:not(:last-child) {
	margin-right: 30px;
}

.button-catalog {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	color: #b7b7b7;
	border: none;
	background: none;
	padding: 0;
}

.button-catalog-container {
	width: 100px;
	margin-left: 236px;
}

.button-catalog-sort {
	position: relative;
	border: none;
	background: none;
	padding: 0;
}

.sort-up:after {
	content: "▲";
	position: absolute;
	color: #c3c2c2;
	top: 15px;
	left: 60px;
}

.sort-down:after {
	content: "▼";
	position: absolute;
	color: #c3c2c2;
	top: 15px;
	left: 80px;
}


.catalog .catalog-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.catalog-item div {
	display: flex;
	justify-content: space-between;
	margin: 15px 0;
}

.catalog-list li:nth-child(2n) div p {
	margin-top: 1px;
}

.catalog-item h3 span {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
 	line-height: 24px;
}

.catalog-item p {
	margin: auto 0;
}

.catalog-item p span {
	font-family: "Gilroy Light", Arial, sans-serif;
	font-size: 16px;
 	line-height: 24px;
}

.pagination {
	display: flex;
	justify-content: space-between;
	background: #ebebeb;
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 16px;
	letter-spacing: 4px;
	padding: 30px 30px;
	margin-bottom: 70px;
}

.pagination ul {
	display: flex;
	justify-content: space-between;
	width: 80px;
}

.pagination ul li a {
	color: #a4a4a4;
}


.main-footer {
	color: #ffffff;
	
	background-color: #464646;
	background-image: url("../img/pattern-dark.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

.main-footer-container {
	position: relative;
	padding: 65px 140px;
}

.footer-container-interface {
	display: flex;
	justify-content: space-between;
}

.footer-user-interface {
	display: flex;
}

.footer-user-interface li a {
	color: #c8c8c8;
}
.footer-user-interface li {
	position: relative;
	font-size: 18px;
	margin-left: 65px;

}

.footer-user-interface li:before {
	content: "";
	width: 16px;
	height: 15px;
	position: absolute;
	background-image: url("../img/sprite/sprites-footer.png");
	background-position: -2px -4px;
	left: -27px;
	top: 8px;
}

.footer-user-interface li:nth-child(2):before {
	background-position: -2px -24px;
}

.footer-user-interface li:last-child:before {
	width: 17px;
	background-position: -2px 19px;

}

.footer-container-services {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.footer-services-item {
	display: flex;
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	letter-spacing: 3px;
}

.footer-services-item li:not(:first-child) {
	margin-left: 38px;
}

.footer-services-item a,
.footer-user-interface a,
.footer-social-button a {
	color: #ffffff;
}

.footer-container-social {
	width: 1160px;
}
.footer-social-button {
	width: 140px;
	margin: 45px auto 0px;
	display: flex;
	justify-content: space-around;
}

.footer-social-button li {
	position: relative;
}

.footer-social-button li a {
	position: absolute;
	width: 32px;
	height: 32px;
	background: url("../img/sprite/sprites-social.png");
}

.footer-social-button li:nth-child(2) a {
	background-position: -32px 0;
}

.footer-social-button li:last-child a {
	background-position: 32px 0;
}

.footer-social-button li:not(:first-child) {
	margin-left: 23px;
}

div .footer-logo-html {
	position: absolute;
	top: 200px;
	left: 1275px;
	width: 28px;

}


.visually-hidden {
	display: none;
}
