@font-face {
	font-family: "Gilroy Light";
	font-style: normal;
	font-weight: 300;
	src:
		local("Gilroy Light"),
		url("../fonts/gilroylight.woff") format("woff"),
		url("../fonts/gilroylight.woff2") format("woff2");
}
@font-face {
	font-family: "Gilroy ExtraBold";
	font-style: normal;
	font-weight: 800;
	src:
		local("Gilroy ExtraBold"),
		url("../fonts/gilroyextrabold.woff") format("woff"),
		url("../fonts/gilroyextrabold.woff2") format("woff2");
}
@font-face {
	font-family: "Open Sans Light";
	font-style: normal;
	font-weight: 300;
	src:
		local("Open Sans Light"),
		url("../fonts/opensanslight.woff") format("woff"),
		url("../fonts/opensanslight.woff2") format("woff2")
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src:
		local("Open Sans"),
		url("../fonts/opensans.woff") format("woff"),
		url("../fonts/opensans.woff2") format("woff2");
}

body {
	/*margin: 0 auto;*/
	padding: 0;
	width: 1440px;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: #525252;
	background-color: #ffffff;
}

a {
	text-decoration: none;
	color: black;
}

.about-us h2,
.contacts h2,
.filter-container h2,
.container-sort h2,
.catalog-content h3 {
	margin: 0;
}


.main-header {
	position: relative;
	width: 1160px;
	margin: 40px 140px 0px;
	color: #ffffff;
	background-color: #f7e296;
	background-image: url("../img/pattern-light.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

.header-background {
	position: absolute;
	width: 1160px;
	height: 186px;
	background: #f7e296;
}


.header-user-interface,
.site-navigation,
.site-navigation-catalog,
.footer-services-item,
.footer-user-interface,
.footer-social-button,
.navigation-catalog-container ul,
.navigation-services-container ul {
	list-style: none;
}

.header-user-interface a,
.site-navigation a,
.site-navigation-catalog a {
	color: #000000;
}

.header-container {
	position: relative;
	padding-top: 43px;
}

.main-header-logo {
	position: absolute;
	top: -19px;
	left: 60px;
}

.header-user-interface {
	display: flex;
	flex-direction: row;
	margin: 0 60px;
	padding: 0px;
}

.header-user-interface li:nth-child(2):hover,
.header-user-interface li:nth-child(3):hover,
.header-user-interface li:nth-child(4):hover,
.site-navigation-catalog a:hover,
.navigation-services-container a:hover,
.footer-user-interface li:hover,
.footer-services-item a:hover {
	opacity: 0.7;
}

.header-user-interface li:nth-child(2):active,
.header-user-interface li:nth-child(3):active,
.header-user-interface li:nth-child(4):active,
.site-navigation-catalog a:active,
.navigation-services-container a:active,
.footer-user-interface li:active,
.footer-services-item a:active {
	opacity: 0.5;
}

.header-user-interface li:nth-child(2) {
	margin-left: 305px;
}
.header-user-interface li:nth-child(3) {
	margin-left: 237px;
}
.header-user-interface li:nth-child(4) {
	margin-left: 60px;
	
}

.header-search-input {
	width: 225px;
}

.header-user-interface li {
	position: relative;
}

.header-user-interface li:nth-child(1) {
	padding-left: 37px;
}
.header-user-interface li:nth-child(1):before {
	content: "";
	width: 16px;
	height: 16px;
	position: absolute;
	left: 2px;
	top: 8px;
	background-image: url("../img/sprite/sprites-header.png");
}

.header-user-interface input {
	border: none;
	background: none;
	outline: none;
	opacity: 0.5;
	padding-right: 63px;
	color: #000000;
}

.header-user-interface input:hover {
	opacity: 0.8;
}

.header-user-interface input:focus {
	border-bottom: 1px solid #000;
	opacity: 1;
	color: #000000;
}

.header-search input:focus+.button-search {
	display: inline-block;
	vertical-align: top;
}

.header-search input:focus+.button-search:active {
	display: inline-block;
	vertical-align: top;
}




.button-search {
	position: absolute;
	top: -5px;
	right: 0px;
	font-size: 15px;
	width: 64px;
	height: 30px;
	padding: 6px 6px 6px 6px;
	border: 1px solid #000000;
	border-bottom: 0;
	color: #000000;
	display: none;
	background-color: transparent;
	cursor: pointer;
	outline: none;
}

.button-search:hover {
	background-color: #000000;
	color: #ffffff;
}

.button-search:active {
	display: inline-block;
	color: #4d4d4d;
	vertical-align: top;
}




.header-user-interface li:nth-child(2):before {
	content: "";
	width: 16px;
	height: 16px;
	position: absolute;
	left: -27px;
	top: 7px;
	background-image: url("../img/sprite/sprites-header.png");
	background-position: 0 -16px;
}

.header-user-interface li:nth-child(3):before {
	content: "";
	width: 16px;
	height: 14px;
	position: absolute;
	left: -23px;
	top: 9px;
	background-image: url("../img/sprite/sprites-header.png");
	background-position: 0 -30px;
}

.header-user-interface li:nth-child(4):before {
	content: "";
	width: 16px;
	height: 15px;
	position: absolute;
	left: -23px;
	top: 7px;
	background-image: url("../img/sprite/sprites-header.png");
	background-position: 0 14px;
}

.main-navigation {
	position: relative;
	width: 1160px;
	height: 45px;
}

.main-navigation:after {
	position: absolute;
	content: "";
	width: 100px;
	height:7px;
	background-color: #ffffff;
	top: 113px;
	left: 600px;
}

.site-navigation,
.footer-services-item {
	text-transform: uppercase;

}

.site-navigation {
	display: flex;
	padding: 0px;
	margin-top: 39px;
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	font-weight: bold;
	letter-spacing: 0.19em;
}

.navigation-catalog-container {
	width: 540px;
	padding-left: 60px;
}

.site-navigation-catalog {
	padding: 0;
	margin: 0;
}

.site-navigation-catalog>li {
	display: inline-block;
	position: relative;
	vertical-align: top;
}

.site-navigation-catalog .symbol-plus {
	position: absolute;
	right: -31px;
	top: 4px;
	width: 20px;
	height: 20px;
	opacity: 0.3;
}


.symbol-plus:before, .symbol-plus:after {
	position: absolute;
	content: ' ';
	left: 9px;
	height: 16px;
	width: 2px;
	background-color: #b8a974;
}
.symbol-plus:before {
	transform: rotate(90deg);
}


.site-navigation-catalog ul {
	display: flex;
	flex-direction: column;
	width: 437px;
	height: 127px;
	margin: 0px;
	padding: 20px 0;
	padding-right: 663px;
	padding-left: 60px;
	position: absolute;
	top: 20px;
	left: -60px;
	background-image: url(../img/pattern-light.jpg);
	visibility: hidden;
	z-index: 10;
	flex-wrap: wrap;
}


.site-navigation-catalog>li:hover ul {
	visibility: visible;
}




.navigation-catalog-items li {
	padding: 0px;
	font-family: "Open Sans Light", Arial, sans-serif;
	font-size: 15px;
	line-height: 36px;
	color: #000000;
	text-transform: none;
	letter-spacing: normal;
	display: block;
}



.navigation-services-container {
	width: 550px;
}

.navigation-services-container ul {
	display: flex;
	margin: 0px;
	padding-left: 0px;
	padding-right: 60px;
}

.navigation-services-container li:nth-child(2) {
	margin-left: 36px;
}
.navigation-services-container li:last-child {
	margin-left: 110px;
}

.container {
	margin-top: 34px;
	position: relative;
}

.container:before {
	content: "";
	position: absolute;
	background-color: #f7e296;
	width: 1160px;
	height: 198px;
	top: -91px;
	left: 140px;
	z-index: -1;
}

.slider {
	position: relative;
	height: 494px;
}


.slider-item {
	display: flex;
	width: 1160px;
	position: relative;
}

.slide {
	display: none;
}

.slider-controls {
	position: absolute;
	bottom: 140px;
	right: 202px;
	z-index: 20;
	font-size: 0;
}

.slider-controls label {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 21px;
	vertical-align: top;
	background-color: transparent;
	border: 1px solid #000000;
	border-radius: 50%;
	cursor: pointer;
}

.visually-hidden-slider {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0, 0, 0, 0);
}

#product-1:checked ~ .slider-list #slide1,
#product-2:checked ~ .slider-list #slide2,
#product-3:checked ~ .slider-list #slide3 {
	display: flex;
	margin: 0 auto;
}

#product-1:checked ~ .slider-controls label[for="product-1"],
#product-2:checked ~ .slider-controls label[for="product-2"],
#product-3:checked ~ .slider-controls label[for="product-3"] {
	background: url(../img/slider-button.png) no-repeat;
	background-position: -1px -1px;
}

.slider-item:before {
	content: "01";
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 179px;
	color: #ffffff;
	position: absolute;
	top: 59px;
	left: 929px;
	width: 157px;
	height: 135px;
}

.slider-item:nth-child(2):before {
	content: "02";
	left: 904px;
}

.slider-item:last-child:before {
	content: "03";
	top: 58px;
	left: 904px;
	z-index: -1;
}

.slider-container-img {
	width: 562px;
	text-align: center;
}



.img-slide2 {
	padding-top: 15px;
	padding-left: 6px;
}

.img-slide3 {
	padding-top: 64px;
	padding-left: 13px;
}

.slider-container-info {
	width: 560px;
}
.container-info-first {
	padding-top: 78px;
	padding-left: 36px
}

.container-info-second {
	padding-top: 78px;
	padding-left: 30px;

}

.container-info-third {
	padding-top: 78px;
	padding-left: 23px;
}

.slider-container-info  .title-slider {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 47px;
	line-height: 56px;
	letter-spacing: 0.015em;
}

.slider-container-info p {
	margin-top: 20px;
	margin-bottom: 48px;
	padding-right: 61px;
	letter-spacing: -0.009em;
}


.slider-container-info a {
	position: relative;
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 0.21em;
	z-index: 1;
	padding-left: 45px;
}

.slider-container-info a:before {
	content: "";
	position: absolute;
	width: 220px;
	height: 7px;
	background-color: #f0c52e;
	top: 7px;
	left: 0px;
	z-index: -1;
}

.slider-container-info a:hover::before,
.slider-container-info a:active::before {
	height: 30px;
	top: -5px;
}

.slider-container-info a:active span {
	opacity: 0.5;
}

.slider-container-info table {
	margin-top: 50px;
}

.slider-container-info tr:first-child {
	font-family: "Gilroy Light", Arial, sans-serif;
	font-size: 36px;
}

.slider-container-info tr:last-child {
	font-size: 13px;
}

.slider-container-info td {
	padding-top: 10px;
	padding-right: 75px;
	padding-bottom: 0px;
}

.slider-item:nth-child(3) td {
	padding-right: 39px;
}

.item-list {
	margin-top: 95px;
}

.item-list-container {
	width: 1160px;
	margin: 0 auto;
}

.item-list-container a:hover span:before,
.item-list-container a:active span:before {
	background-color: #f0c52e;
}

.item-list-container a:active span {
	opacity: 0.5;
}

.item-list ul {
	display: flex;
	padding: 0px;
	margin: 0px;
	padding-left: 0px;
}
.item-list li {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	list-style: none;
	margin-right: 40px;
}

.item-list span {
	display: block;
	position: relative;
	line-height: 1.34em;
	letter-spacing: 0.011em;
}


.item-list span:before {
	content: '';
	display: block;
	width: 160px;
	height: 160px;
	background-color: #f7e296;
	margin-bottom: 34px;
}

.item-list span:after {
	content: '';
	display: block;
	position: absolute;
	background-image: url(../img/sprite/sprites-item-list.png);
}

.item-list li:nth-child(1) span:after {
	width: 97px;
	height: 90px;
	top: 24px;
	left: 30px;
}

.item-list li:nth-child(2) span:after {
	width: 95px;
	height: 117px;
	top: 42px;
	left: 33px;
	background-position: -97px 0;
}

.item-list li:nth-child(3) span:after {
	width: 75px;
	height: 105px;
	top: 24px;
	left: 45px;
	background-position: -190px 0;
}

.item-list li:nth-child(4) span:after {
	width: 115px;
	height: 90px;
	top: 26px;
	left: 23px; 
	background-position: -265px 0;
}

.item-list li:nth-child(5) span:after {
	width: 60px;
	height: 105px;
	top: 25px;
	left: 54px;
	background-position: -380px 0;
}

.item-list li:nth-child(6) span:after {
	width: 134px;
	height: 90px;
	top: 27px;
	left: 11px;
	background-position: -440px 0;
}


.services {
	height: 320px;
	position: relative;
}

.services-background {
	position: absolute;
	background-color: #e5e5e5;
	top: 33px;
	width: 1440px;
	height: 287px;
	z-index: -1;
}

.services-container {
	margin: 150px auto 0;
	width: 1440px;
	display: flex;
	position: relative;
}

.services-item {
	display: flex;
	margin-left: 126px;
}

.services-container-title {
	position: relative;
	
	padding-left: 139px;
}

.services-container-title div {
	display: flex;
	flex-direction: column;
	padding-top: 17px;
}

.services-container-title span {
	position: relative;
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 0.21em;
	z-index: 1;
	list-style: none;
	padding-left: 23px;
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
}

.services-container-title label {
	display: inline-block;
	margin-bottom: 31px;
	vertical-align: top;
	height: 34px;

}

.services-container-title span:nth-child(2) {
	padding-left: 7px;
}
.services-container-title label:last-child span {
	padding-top: 4px;
	padding-left: 37px;
}


.services-container-title span:before {
	content: "";
	position: absolute;
	width: 160px;
	height: 7px;
	background-color: #f0c52e;
	top: 13px;
	left: -2px;
	z-index: -1;
}

.services-container-title span:hover::before {
	height: 34px;
	top: 0px;
	left: 0px;
}

.services-container-title label:last-child span:hover::before {
	height: 34px;
	top: 0px;
}

.services-container-title label:last-child span:before {
	top: 16px;
	left: 1px;
}

.services-container-title:after {
	content: '';
	position: absolute;
	width: 7px;
	height: 320px;
	background-color: #000000;
	top: -70px;
	left: 417px;
}

#service1:checked ~ .services-container-info #item1,
#service2:checked ~ .services-container-info #item2,
#service3:checked ~ .services-container-info #item3 {
	display: flex;
}

#service1:checked ~ .services-container-title label[for="service1"] span:before,
#service2:checked ~ .services-container-title label[for="service2"] span:before,
#service3:checked ~ .services-container-title label[for="service3"] span:before {
	display: none;
}

#service1:checked ~ .services-container-title label[for="service1"],
#service2:checked ~ .services-container-title label[for="service2"],
#service3:checked ~ .services-container-title label[for="service3"] {
	width: 278px;
	color: #e7d27b;
	background-color: #000000;
	z-index: 100;
}

.services-container-title label:active {
	width: 278px;
	color: #e7d27b;
	background-color: #000000;
}

.services-container-title label:active span:before {
	background-color: #000000;
}


.services-container-info .item0 {
	display: none;
}

.services-container-info {
	width: 830px;
	position: relative;
}

.services-item-content h2 {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	margin: 0;
	color: #000000;
	font-size: 47px;
	line-height: 56px;
	letter-spacing: 0.03em;
}

.services-item-content p {
	margin: 0;
	margin-top: 27px;
}

.services-item img {
	margin-left: 130px;
	margin-top: 16px;
}

.partner-container {
	margin: 95px auto 0;
	width: 1160px;
}

.partner ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.partner-container-img {
	width: 260px;
	height: 100px;
	background-image: url("../img/partner/logo-1.jpg");
}

.partner-container ul li:nth-child(2) .partner-container-img {
	background-image: url("../img/partner/logo-2.jpg")

}

.partner-container ul li:nth-child(3) .partner-container-img {
	background-image: url("../img/partner/logo-3.jpg")

}

.partner-container ul li:nth-child(4) .partner-container-img {
	background-image: url("../img/partner/logo-4.jpg")

}

.partner-container li:first-child a:hover div {
	background-image: url("../img/partner/logo-1 color.png");
}

.partner-container li:nth-child(2) a:hover div {
	background-image: url("../img/partner/logo-2 color.png");
}

.partner-container li:nth-child(3) a:hover div {
	background-image: url("../img/partner/logo-3 color.png");
}

.partner-container li:nth-child(4) a:hover div {
	background-image: url("../img/partner/logo-4 color.png");
}

.common-information {
	display: flex;
	margin: 142px 141px;
	margin-bottom: 91px;
	
}

.about-us, .contacts {
	width: 475px;
	position: relative;
}
.contacts {
	width: 510px;
	margin-left: 124px;
}


.about-us:before, .contacts:before {
	content: "";
	position: absolute;
	top: -52px;
	width: 80px;
	height: 7px;
	background-color: #000000;
}

.about-us-title,
.contacts-title {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	color: #000000;
	padding-bottom: 45px;
}

.about-us p,
.contacts p {
	margin: 0;
	font-family: "Open Sans Light", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: #848484;
	padding-bottom: 30px;
}

.about-us-service {
	display: flex;
	flex-direction: column;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	font-weight: bold;
	line-height: 30px;
	color: #000000;
	list-style-type: none;
	padding-top: 38px;
	padding-bottom: 58px;
	padding-left: 34px;
	margin: 0;
}

.about-us-service li {
	position: relative;
	padding-bottom: 10px;
}

.about-us-service li:before {
	position: absolute;
	left: 1px;
	color: #e5e5e5;
	content: '○';
	font-weight: bold;
}

.contacts img {
	display: block;
	padding: 9px 1px 76px 1px;
}

.button {
	position: relative;
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	color: #000000;
	text-transform: uppercase;
	letter-spacing: 4px;
	border: none;
	background: none;
	z-index: 10;
	outline: none;
	cursor: pointer;
}

.about-us-button {
	padding-left: 22px;
}

.contacts-info-button {
	padding-left: 40px;
}


.button a:after {
	content: "";
	position: absolute;
	width: 260px;
	height: 8px;
	background-color: #f0c52e;
	top: 8px;
	left: 2px;
	z-index: -1;
}

.about-us-button a,
.contacts-info-button a {
	color: #000000;
}

.button a:hover::after,
.button a:active::after {
	height: 30px;
	top: -5px;
}

.button a:active span {
	opacity: 0.5;
}

/*catalog css... */

.header-container .header-user-interface .header-catalog-compare {
	margin-left: 146px;
}

.header-user-interface .header-catalog-user {
	position: relative;
}

.header-catalog-user a:last-child {
	display: inline-block;
	position: absolute;
	top: 1px;
	left: 159px;
	opacity: 0.5;
	vertical-align: top;
}

.main-container-catalog {
	margin: 66px 140px 0;
	width: 1160px;
}

.page-title {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 47px;
	padding-left: 60px;
	line-height: 48px;
	color: #000000;
	letter-spacing: 0.01em;
	margin-bottom: 20px;
}

.breadcrumbs {
	display: flex;
	list-style: none;
	padding-left: 60px;
}

.breadcrumbs li {
	position: relative;
	font-size: 14px;
	letter-spacing: 0.015em
}

.breadcrumbs li:first-child {
	padding-right: 37px;
}

.breadcrumbs li:nth-child(2) {
	padding-right: 37px;
}

.breadcrumbs li:not(:last-child):after {
	content: '';
	width: 4px;
	height: 7px;
	position: absolute;
	top: 13px;
	background: url(../img/nav-arrow.png);
}

.breadcrumbs li:first-child:after {
	left: 68px;
}

.breadcrumbs li:nth-child(2):after {
	left: 127px;
}

.breadcrumbs a,
.breadcrumbs-current {
	font-family: "Open Sans Light", Arial, sans-serif;
	color: #b2b2b2;
}

.breadcrumbs a:hover {
	color: #666666;
}

.breadcrumbs a:active {
	opacity: 0.3;
}



.container-filters-catalog {
	display: flex;
	justify-content: space-between;
	margin-top: 44px;
}

.filters {
	position: relative;
	width: 394px;
}

.filters-background {
	position: absolute;
	width: 468px;
	height: 1287px;
	left: -141px;
	background: #efefef;
	z-index: -1;
}

.filters-container-background {
	position: absolute;
	width: 468px;
	height: 70px;
	background: #dcdcdc;
	left: -140px;
	z-index: -1;
}

.filters-container {
	position: relative;
	padding-left: 58px;
}

.filters-title {
	display: inline-block;
	margin: 19px 0;
	margin-left: 3px;
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0.23em;
	text-transform: uppercase;
	vertical-align: top;
}

.filter fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

.filter legend {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
}

.filter ul {
	list-style: none;
	line-height: 40px;
	padding: 0px;
	margin: 0px;
	padding-top: 18px;
	padding-left: 39px;
}

.filter .filter-bluetooth {
	margin-top: 43px;
	letter-spacing: 0.02em;
}

/*Фильтр - ползунок*/

.filter-item {
	margin: 0;
	padding: 0;
	border: none;
	height: 223px;
}

.filter-item::before, .filter-item::after {
	content: "";
	position: absolute;
	width: 201px;
	height: 2px;
	left: 59px;
	background-color: #000000;
}
.filter-item::before {
	top: 139px;
}

.filter-item::after {
	top: 280px;
}

.range-filer {
	width: 260px;
	margin-top: 49px;
}

.filter-item legend {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	padding-top: 83px;
	letter-spacing: 0.02em;
}

.range-controls {
	position: relative;
	height: 41px;
	margin-bottom: 15px;
	padding: 35px;
	padding-right: 64px;
	padding-left: 5px;
	border-radius: 5px;
}

.range-controls .scale {
	height: 2px;
	background: #dbdbdb;
}

.range-controls .bar {
	width: 58%;
	height: 2px;
	background: #91c92f;
}

.range-controls .toggle {
	position: absolute;
	top: 26px;
	left: 0;
	width: 4px;
	height: 4px;
	padding: 0;
	border: 8px solid #ffffff;
	background-color: #ababab;
	box-shadow: 0 2px 1px 0 #dadada;
	border-radius: 50%;
	cursor: pointer;
}

.range-controls .toggle-min {
	left: -4px;
}

.range-controls .toggle-max {
	left: 109px;
}

/*///фильтр ползунок*/



.filter-option label {
	position: relative;
	display: inline-block;
	cursor: pointer;
	vertical-align: top;
}

.filter-input {
	display: none;
}

.filter-input-checkbox + label:before {
	content: "";
	position: absolute;
	width: 19px;
	height: 19px;
	left: -39px;
	top: 9px;
	border: 2px solid #000000;
	border-radius: 2px;
}

.filter-input-checkbox + label:hover::before {
	opacity: 0.6;
}

.filter-input-checkbox + label:active::before {
	opacity: 1;
}

.filter-input-checkbox:checked + label::after {
	content: "";
	position: absolute;
	top: 9px;
	left: -39px;
	width: 26px;
	height: 26px;
	background-image: url(../img/checkbox-on.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-input-checkbox:checked + label:hover::after {
	opacity: 0.6;
}

.filter-input-checkbox:checked + label:active::after {
	opacity: 1;
}

input[type="radio"] {
	display: none;
}

.filter-input-radio + label::before {
	content: "";
	position: absolute;
	left: -39px;
	top: 6px;
	width: 20px;
	height: 20px;
	border: 2px solid #000000;
	border-radius: 50%;
}

.filter-input-radio + label:hover::before {
	opacity: 0.6;
}

.filter-input-radio + label:active::before {
	opacity: 1;
}

.filter-input-radio:checked + label::after {
	content: "";
	position: absolute;
	top: 14px;
	left: -31px;
	width: 8px;
	height: 8px;
	background-color: #000000;
	border-radius: 50%;
}

.filter-input-radio:checked + label:hover::after {
	opacity: 0.6;
}

.filter-input-radio:checked + label:active::after {
	opacity: 1;
}


.filter-button {
	padding-left: 40px;
	margin-top: 38px;
	outline: none;
	cursor: pointer;
}

.filter-button:after,
.login-submit-button:after,
.action .basket:after {
	content: "";
	position: absolute;
	width: 200px;
	height: 8px;
	background-color: #f0c52e;
	top: 8px;
	left: 2px;
	z-index: -1;
}

.filter-button:hover::after,
.filter-button:active::after,
.login-submit-button:hover::after,
.login-submit-button:active::after,
.action .basket:hover::after,
.action .basket:active::after {
	top: -1px;
	height: 25px;
}

.filter-button:active span,
.login-submit-button:active span,
.catalog-item .action .basket:active span {
	opacity: 0.5;
}

.catalog {
	margin-left: 76px;
	position: relative;
	width: 925px;
}

.catalog ul {
	display: flex;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.catalog-list li:not(:nth-child(2n)) {
	margin-right: 40px;

}

.container-sort-background {
	position: absolute;
	width: 973px; 
	height: 70px;
	background-color: #ebebeb;
	left: -73px;
	z-index: -1;
}

.container-sort {
	display: flex;
	padding: 20px 0;
}


.container-sort h2 {
	display: inline-block;
	margin: 0;
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0.23em;
	text-transform: uppercase;
	vertical-align: top;
}

.container-sort ul {
	padding: 0px;
	margin: 0px;
	padding-left: 50px;
}

.container-sort li:not(:last-child) {
	margin-right: 29px;
}

.button-catalog {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	color: #b7b7b7;
	border: none;
	background: none;
	padding: 0;
	cursor: pointer;
	outline: none;
}

.container-sort button:hover {
	color: #666666;
}

.container-sort button:active {
	color: #000000;
}

.button-catalog-container {
	width: 50px;
	padding-left: 223px;
}

.button-catalog-sort {
	position: relative;
	width: 16px;
	height: 16px;
	border: none;
	background: none;
	padding: 0;
	outline: none;
	cursor: pointer;
	margin-left: 7px;
}

.button-catalog-container .sort-up:hover::after,
.button-catalog-container .sort-down:hover::after {
	color: #666666;
}

.button-catalog-container .sort-up:active::after,
.button-catalog-container .sort-down:active::after {
	color: #000000;
}

.sort-up:after {
	content: "▲";
	position: absolute;
	color: #c3c2c2;
	top: 1px;
	left: 0px;
}

.sort-down:after {
	content: "▼";
	position: absolute;
	color: #c3c2c2;
	top: 1px;
	left: 1px;
}


.catalog .catalog-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 68px;
}

.catalog-item .catalog-content {
	display: flex;
	justify-content: space-between;
	padding-top: 21px;
}

.catalog-list .catalog-item {
	position: relative;
	width: 360px;
	height: 460px;
}

.catalog-list li:nth-child(3),
.catalog-list li:nth-child(4) {
	margin-top: 48px;
}

.catalog-list li:nth-child(4) {
	position: relative;
}

.catalog-list li:nth-child(4):before {
	content: "NEW";
	position: absolute;
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 14px;
	text-align: center;
	width: 52px;
	height: 52px;
	top: 29px;
	left: 274px;
	border: 3px solid #d7d7d7;
	border-radius: 50%;
	line-height: 3.69em;
}

.catalog-list li:nth-child(1) div,
.catalog-list li:nth-child(2) div {
	padding-top: 23px;
}

.catalog-item div {
	display: inline;
	vertical-align: top;
}

.catalog-item p {
	margin: 0;
}

.catalog-item .catalog-content-name {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	display: inline-block;
	width: 260px;
	line-height: 24px;
	vertical-align: top;
}

.catalog-item:nth-child(2) .catalog-content-name {
	width: 174px;
}


.catalog-item .catalog-content-price {
	font-family: "Gilroy Light", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
}

.catalog-item:hover .action {
	display: block;
}

.catalog-item .action {
	display: none;
	position: absolute;
	top: 0px;
	width: 360px;
	height: 382px;
	background-color: rgba(255,255,255,0.9);
	z-index: 10;
}

.catalog-item .basket,
.catalog-item .comparison {
	display: inline-block;
	position: relative;
	padding-left: 40px;
	top: 150px;
	left: 73px;
	vertical-align: top;
}

.catalog-item .comparison {
	margin-top: 22px;
	padding-left: 22px;
	color: #000000;
	opacity: 0.6;
}

.catalog-item.comparison:hover {
	opacity: 1;
}

.catalog-item .comparison:active {
	opacity: 0.2;
}



.button-pagination {
	padding: 20px 20px;
	cursor: pointer;
	outline: none;
}

.button-pagination:hover {
	background-color: #d9d9d9;
}

.button-pagination:active span {
	color: #979797;
}

.pagination {
	display: flex;
	justify-content: space-between;
	background: #ebebeb;
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 16px;
	margin-top: 35px;
	margin-bottom: 77px;
}

.pagination ul {
	display: flex;
	justify-content: space-between;
	padding: 0px;
	margin: 0px;
	width: 80px;
	padding: 20px 0;
}

.pagination a {
	color: #a4a4a4;
	outline: none;
	cursor: pointer;
}

.pagination a:hover {
	color: #7a7a7a;
}

.pagination a:active {
	color: #222222;
}


.main-footer-catalog {
	margin-top: 76px;
}


.main-footer {
	color: #ffffff;
	background-color: #464646;
	background-image: url("../img/pattern-dark.jpg");*/
	background-position: 0 0;
	background-repeat: repeat;
}

.main-footer-container {
	position: relative;
	padding: 65px 140px;
}

.footer-container-interface {
	display: flex;
	justify-content: space-between;
}

.footer-user-interface {
	display: flex;
	margin: 0;
}

.footer-user-interface a {
	color: #c8c8c8;
}
.footer-user-interface li {
	position: relative;
	font-size: 15px;
	margin-left: 61px;
	margin-top: -3px;

}

.footer-user-interface li:before {
	content: "";
	width: 16px;
	height: 15px;
	position: absolute;
	background-image: url("../img/sprite/sprites-footer.png");
	background-position: -3px -4px;
	left: -24px;
	top: 7px;
}

.footer-user-interface li:nth-child(2):before {
	background-position: 1px -24px;
}

.footer-user-interface li:last-child:before {
	width: 17px;
	background-position: 1px 20px;

}

.footer-container-services {
	display: flex;
	margin-top: 19px;
	justify-content: space-between;
}

.footer-container-services p {
	margin: 0;
	display: inline-block;
	padding-bottom: 1px;
	font-size: 14px;
	vertical-align: top;
	width: 260px;
}


.footer-services {
	margin-right: 95px;
	margin-top: 7px;
}

.footer-container-services .phone {
	margin-top: 2px;
	letter-spacing: 0.029em;
	color: white;

}

.footer-services-item {
	display: flex;
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	letter-spacing: 3px;
	margin: 0;
	padding: 0;
}

.footer-services-item li:nth-child(2) {
	margin-left: 41px;
}

.footer-services-item li:last-child {
	margin-left: 36px;
}

.footer-services-item a,
.footer-user-interface a,
.footer-social-button a {
	color: #ffffff;
}

.footer-container-social {
	display: flex;
	position: relative;
	margin-top: 60px;
	margin-left: 510px;
	justify-content: space-between;
}

.footer-container-social:before {
	content: '';
	position: absolute;
	width: 80px;
	height: 7px;
	top: 12px;
	left: -509px;
	background-color: #ffc600;
}

.footer-social-button {
	width: 140px;
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	padding-right: 53px;
}

.footer-social-button a {
	display: inline-block;
	width: 32px;
	height: 32px;
	opacity: 0.5;
	vertical-align: top;
}

.footer-social-button a:hover {
	opacity: 0.9;
}

.footer-social-button a:active {
	opacity: 0.2;
}

.footer-social-button li:not(:first-child) {
	margin-left: 23px;
}

.footer-logo-html a:hover,
.footer-container-interface>a:hover,
.header-container>a:hover {
	opacity: 0.7;
}

.footer-logo-html a:active,
.footer-container-interface>a:active,
.header-container>a:active {
	opacity: 0.5;
}

.modal {
	position: fixed;
	color: #000000;
	background: #ffffff;
	z-index: 100;
	box-shadow: 0 9px 13px rgba(0, 0, 0, 0.5);
}

.modal-login {
	display: none;
	top: 350px;
	width: 748px;
	padding: 95px 100px;
	margin-left: 240px;
}

.modal-close {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 55px;
	height: 55px;
	background-color: #f7e296;
	border-radius: 50%;
	border: 0;
	font-size: 0;
	cursor: pointer;
	outline: none;
}

.modal-close:hover {
	background-color: #f0c52e;
}

.modal-close:active {
	opacity: 0.3;
}

.modal-close::before,
.modal-close::after {
	content: "";
	position: absolute;
	top: 27px;
	left: 10px;
	width: 36px;
	height: 3px;
	background-color: #ffffff;
}

.modal-close::before {
	transform: rotate(45deg);
}

.modal-close::after {
	transform: rotate(-45deg);
}

.login-form input[type="text"],
.login-form input[type="email"],
.login-form textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding: 15px 15px;
	background-color: #f2f2f2;
	border: none;
	resize: none;
	outline: none;
}
.login-form input[type="text"]:hover,
.login-form input[type="email"]:hover,
.login-form textarea:hover {
	background-color: #ebebeb;
}

.login-form input[type="text"]:focus,
.login-form input[type="email"]:focus,
.login-form textarea:focus {
	background-color: #ffffff;
	outline: 2px solid #f7e296;
}

.login-form input[type="text"]:invalid,
.login-form input[type="email"]:invalid {
	background-color: #f6dada;
}


.login-form .textarea-info {
	padding-top: 25px;
}

.login-form textarea {
	height: 120px;
}

.modal label {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
}

.modal input {
	font-family: "Open Sans Light", Arial, sans-serif;
	font-size: 14px;
}

.modal .user-info {
	display: flex;

}

.user-info div {
	width: 380px;
}

.user-info div:last-child {
	padding-left: 20px;
}

.login-submit-button {
	position: relative;
	padding-left: 36px;
	margin-top: 36px;
}

.modal-map {
	top: 50%;
	left: 50%;
	width: 960px;
	height: 559px;
	margin-top: -280px;
	margin-left: -483px;
	display: none;
}

.modal-map p {
	margin: 0;
}

.visually-hidden {
	display: none;
}
