@font-face {
	font-family: "Gilroy Light";
	font-style: normal;
	font-weight: 300;
	src:
		local("Gilroy Light"),
		url("../fonts/gilroylight.woff") format("woff"),
		url("../fonts/gilroylight.woff2") format("woff2");
}
@font-face {
	font-family: "Gilroy ExtraBold";
	font-style: normal;
	font-weight: 800;
	src:
		local("Gilroy ExtraBold"),
		url("../fonts/gilroyextrabold.woff") format("woff"),
		url("../fonts/gilroyextrabold.woff2") format("woff2");
}
@font-face {
	font-family: "Open Sans Light";
	font-style: normal;
	font-weight: 300;
	src:
		local("Open Sans Light"),
		url("../fonts/opensanslight.woff") format("woff"),
		url("../fonts/opensanslight.woff2") format("woff2")
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src:
		local("Open Sans"),
		url("../fonts/opensans.woff") format("woff"),
		url("../fonts/opensans.woff2") format("woff2");
}

body {
	margin: 0 auto;
	padding: 0;
	width: 1440px;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: #525252;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.main-header {
	width: 1160px;
	min-height: 300px;
	margin: 40px 140px;

	color: #ffffff;
	background-color: #f7e296;
	background-image: url("../img/pattern-light.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

.header-user-interface,
.site-navigation,
.site-navigation-catalog,
.footer-services-item,
.footer-user-interface,
.footer-social-button,
.navigation-catalog-container ul,
.navigation-services-container ul {
	list-style: none;
}

.header-user-interface a,
.site-navigation a,
.site-navigation-catalog a {
	color: #000000;
}

.header-user-interface {
	display: flex;
	flex-direction: row;
	margin: 0 60px;
	padding: 0px;
	justify-content: space-between;
}

.header-user-interface li:nth-child(2) {
	margin-left: 390px;
}
.header-user-interface li:nth-child(3) {
	margin-left: 215px;
}
.header-user-interface li:nth-child(4) {
	margin-left: 60px;
	
}

.main-navigation {
	width: 1160px;
}

.site-navigation,
.footer-services-item {
	text-transform: uppercase;

}

.site-navigation {
	display: flex;
	padding: 0px;
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	font-weight: bold;
	letter-spacing: 2px;
}

ul .site-navigation-catalog {
	width: 1160px;
	position: absolute;
	background-image: url("../img/pattern-light.jpg");
}

.site-navigation-catalog li {
	display: flex;
	position:;
	padding: 0px;
	font-family: "Open Sans Light", Arial, sans-serif;
	font-size: 15px;
	line-height: 36px;
	color: #000000;
	text-transform: none;
}


.navigation-services-container ul {
	display: flex;
}

/*.site-navigation li:nth-child(2) {
	margin-left: 365px;
}
.site-navigation li:nth-child(3) {
	margin-left: 40px;
}
.site-navigation li:nth-child(4) {
	margin-left: 115px;
}
*/
/*.site-navigation li .site-navigation-catalog {
	position: relative;
}

.site-navigation li:hover ul {
	position: absolute;
}*/

.common-information {
	display: flex;
	margin: 0 140px;
	margin-bottom: 95px;
	justify-content: space-between;
}

.about-us, .contacts {
	width: 560px;
}

.about-us-title,
.contacts-title {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	color: #000000;

}

.about-us p,
.contacts p {
	font-family: "Open Sans Light", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: #848484;
}

.about-us-service {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	font-weight: bold;
	line-height: 30px;
	color: #000000;
}

.button {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	color: #000000;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: none;
	background: none;
}

.about-us-button a,
.contacts-info-button a {
	color: #000000;
}

/*catalog css... */
.main-container-catalog {
	margin: 0 140px;
	width: 1160px;
}

.page-title {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 47px;
	padding-left: 60px;
	line-height: 48px;
	color: #000000;
}

.breadcrumbs {
	display: flex;
	list-style: none;
	padding-left: 60px;
}

.breadcrumbs li {
	margin-right: 40px;
}

.breadcrumbs a,
.breadcrumbs-current {
	font-family: "Open Sans Light", Arial, sans-serif;
	color: #b2b2b2;
}

.container-filters-catalog {
	display: flex;
	justify-content: space-between;
}

.catalog-list li:not(:nth-child(2n)) {
	margin-right: 40px;
}

.filters {
	width: 468px;
	background: url("../img/filters-layer.jpg") no-repeat #efefef;
}
.filter fieldset {
 	border: none;
}

.filter legend {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
 	font-size: 18px;
 	line-height: 24px;
}

.filter ul {
	list-style: none;
	line-height: 40px;
}

.catalog ul {
	display: flex;
	list-style: none;
}

.container-sort {
	display: flex;
	min-height: 70px;
}

.catalog .catalog-list {
	display: flex;
	flex-wrap: wrap;
}

.catalog-item h3 span {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
 	line-height: 24px;
}

.catalog-item p span {
	font-family: "Gilroy Light", Arial, sans-serif;
	font-size: 16px;
 	line-height: 24px;
}

.pagination {
	display: flex;
	justify-content: space-between;
}
/* ...catalog css*/

.main-footer {
	color: #ffffff;
	
	background-color: #464646;
	background-image: url("../img/pattern-dark.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

.main-footer-container {
	padding: 65px 140px;
}

.footer-container-one {
	display: flex;
	justify-content: space-between;
}

.footer-user-interface {
	display: flex;
}
.footer-user-interface li {
	margin-left: 65px;
}

.footer-container-two {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.footer-services-item {
	display: flex;
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	letter-spacing: 2px;
}

.footer-services-item li:not(:first-child) {
	margin-left: 38px;
}

.footer-services-item a,
.footer-user-interface a,
.footer-social-button a {
	color: #ffffff;
}

.footer-container-three {
	display: flex;
	justify-content: space-between;
	margin-top: 65px;
}

.footer-social-button {
	display: flex;
}

.footer-social-button li:not(:first-child) {
	margin-left: 23px;
}

.visually-hidden {
	display: none;
}
